anyio==4.13.0
astrapy==2.2.1
asttokens==3.0.1
certifi==2026.5.20
charset-normalizer==3.4.7
comm==0.2.3
debugpy==1.8.20
decorator==5.3.1
deprecation==2.1.0
dnspython==2.8.0
dotenv==0.9.9
executing==2.2.1
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.16
ipykernel==7.2.0
ipython==9.14.0
ipython_pygments_lexers==1.1.1
jedi==0.20.0
jupyter_client==8.8.0
jupyter_core==5.9.1
kafka-python==2.3.1
matplotlib-inline==0.2.2
nest-asyncio==1.6.0
numpy==2.4.6
packaging==26.2
pandas==3.0.3
parso==0.8.7
pexpect==4.9.0
platformdirs==4.10.0
prompt_toolkit==3.0.52
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.20.0
pymongo==4.17.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pyzmq==27.1.0
requests==2.34.2
six==1.17.0
stack-data==0.6.3
toml==0.10.2
tornado==6.5.6
traitlets==5.15.0
typing_extensions==4.15.0
urllib3==2.7.0
uuid6==2025.0.1
wcwidth==0.7.0
